[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
monkeytype = "*"

[packages]
burnysc2 = "*"
toml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
